
<p>
  This article is excerpted from the book 
  <a target="" href="https://www.apress.com/gp/book/9781484249529">Android Studio IDE Quick Reference</a>
</p>
<img src="/images/book_as3_quickguide.png" alt="Android Studio IDE Quick Reference">

<div class="card" style="width: 22rem;">
  <img src="/images/book_las3_kotlin.png" class="card-img-top" alt="Android Studio Quick Reference">
  <div class="card-body">
    <h5 class="card-title">Android Studio Quick Reference</h5>
    <p class="card-text">Learn more. See more code examples like this</p>
    <a target="" href="https://www.apress.com/gp/book/9781484249529" class="btn btn-primary">
      Get the book</a>
  </div>
</div>