---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
          
          <!--
          by: <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
          -->


          by: 
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
              <a href="{{ site.author.url }}" rel="author">{{ site.author.name }}</a>
            </span>
          </span>


      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <!--
  <hr class="post-divider" />

  <div class="subscribe-cta">
    <p>
      If you liked this, I write short essays on software development and programming careers.
      <a href="https://tedhagos.kit.com/ab4b864482"
         target="_blank"
         rel="noopener">
        Subscribe here →
      </a>
    </p>
  </div>
  -->

  <div class="card" style="width: 22rem;">
    <div class="card-body">
      <h4 class="card-title">Get the Newsletter</h4>
      <p class="card-text">
      If you liked this, I write short essays on software development and programming careers.
    </p>
      <a target="_blank"href="https://tedhagos.kit.com/ab4b864482" class="btn btn-info">SUBSCRIBE</a>
    </div>
  </div>

  
<!--
  <div class="discussion">
    If you find any corrections in the page or article, the best place to log that is in the site's GitHub repo <a href="https://github.com/theworkingdev/theworkingdev.github.com/issues">workingdev.net/issues</a>. To start a discussion with me, the best place to do that is via twitter <a href="http://twitter/lovescaffeine">@lovescaffeine</a>
  </div>
-->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


